<mat-toolbar color="primary">
    <mat-toolbar-row>
    
       
          <a style="font-size: 16px;">Website สำหรับวางแผนงาน Patrol ระบบจำหน่ายแรงต่ำ &nbsp; &nbsp;&nbsp;&nbsp; </a>     
          <a style="font-size: 16px;float: right;">สวัดดี คุณ{{message}}</a>
          &nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
          &nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
      

        <a mat-button [routerLink]="'/apsamap'"> APSA map </a> 
        <a class="ml-6" mat-button [routerLink]="'/upload'"> upload </a>
        <div class="text-right" >
        <a mat-button [routerLink]="'/login'"> Logout </a>
       
    </div>
       

    </mat-toolbar-row>
  